<div class="course-message">
    <h1 id="site-title">Course Book</h1>
    <h2 id="site-mid-title">Show your opportunities!</h2>
</div>

{{#if courses}}
    {{#each courses}}
        <div class="last-course">
            <div class="info">
                <h2 class="title">{{title}}</h2>
                <h4 class="genre">{{type}}</h4>
                <h4 class="certificate">Certificate: {{certificate}}</h4>
                <h4 class="price">Price: {{price}}</h4>
                <div class="learn-more">
                    <a href="/courses/details/{{_id}}">Learn More...</a>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <!--If there are still no blogs in the database display:-->
    <article class="not-available-courses">
        <h1>No course created yet.</h1>
    </article>
{{/if}}